<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>添加权限</title>

    <link rel="stylesheet" href="../../../assets/libs/layui/css/layui.css" />
    <link rel="stylesheet" href="../../../assets/module/admin.css?v=318" />
    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../../../assets/libs/layui/layui.js"></script>
    <script type="text/javascript" src="../../../assets/js/common.js?v=318"></script>
    <script type="text/javascript" src="../../../assets/js/util.js?v=318"></script>
    <script type="text/javascript" src="../../../assets/js/url.js?v=318"></script>
    <script type="text/javascript" src="../../../assets/js/htmlUtil.js?v=318"></script>

    <style>
        body {
            margin: 10px;
        }
    </style>
</head>

<body>
    <form id="form" class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">权限名称</label>
            <div class="layui-input-inline">
                <input id="permissionId" type="hidden" class="id" name="permissionId">
                <input id="permissionName" type="text" name="permissionName" required lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">权限描述</label>
            <div class="layui-input-block">
                <textarea id="permissionDescription" name="permissionDescription" placeholder="请输入描述" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-inline">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

    <script>
        var url = getUrl();
        layui.use('form', function() {
            var form = layui.form;
            form.on('submit(formDemo)', function(data) {
                var updatePermissionURL = url + "api/v1/glmy/movephone/permission/updatePermission";
                let permissionId = data.field.permissionId;
                let permissionName = data.field.permissionName;
                let permissionDescription = data.field.permissionDescription;
                //获取用户信息
                var storage = window.localStorage;
                var json = storage.getItem('userData');
                var userData = JSON.parse(json);
                let operatorId = userData.userId;
                $.ajax({
                    url: updatePermissionURL,
                    type: "post",
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    async: true,
                    data: JSON.stringify({
                        "permissionId": permissionId,
                        "permissionName": permissionName,
                        "permissionDescription": permissionDescription,
                        "operatorId": operatorId
                    }),
                    success: function(result) {
                        if (result.code == 0) {
                            alert(result.msg);
                            var index = parent.layer.getFrameIndex(Window.name);
                            parent.layer.closeAll();
                        } else {
                            alert(result.msg);
                        }
                    },
                    error: function() {
                        alert("服务器忙……请稍后重试！");
                    }
                });
                return false;
            });

        });
    </script>
</body>

</html>