<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>修改产品</title>

    <link rel="stylesheet" href="../../assets/libs/layui/css/layui.css" />
    <link rel="stylesheet" href="../../assets/module/admin.css?v=318" />
    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../../assets/libs/layui/layui.js"></script>
    <script type="text/javascript" src="../../assets/js/common.js?v=318"></script>
    <script type="text/javascript" src="../../assets/js/util.js?v=318"></script>
    <script type="text/javascript" src="../../assets/js/url.js?v=318"></script>
    <script type="text/javascript" src="../../assets/js/htmlUtil.js?v=318"></script>

    <style>
        .layui-form-item {
            margin-right: 20px;
        }
    </style>
</head>

<body>
    <form id="productLineEditForm" lay-filter="productLineEditForm" class="layui-form model-form" style="padding: 0;">
        <div class="layui-form-item" style="margin-top: 10px;">
            <label class="layui-form-label layui-form-required">产品线</label>
            <div class="layui-input-block">
                <select id="productLine" lay-verType="tips" lay-verify="required|productLine" lay-reqText="请选择产品线" name="productLineId" lay-search="" lay-filter="productLine">
                  <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">设备类型</label>
            <div class="layui-input-block">
                <select id="equipments" lay-verType="tips" lay-verify="required|equipments" lay-reqText="请选择设备类型" name="equipmentId" lay-search="" lay-filter="equipments">
                   <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required" id='Model'>产品系列</label>
            <div class="layui-input-block">
                <select id="productModels" lay-verType="tips" lay-verify="required|productModels" lay-reqText="请选择产品系列" name="productSeriesId" lay-search="" lay-filter="productModels">
                   <option value="">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">产品编码</label>
            <div class="layui-input-block">
                <select id="DialogproductCode" lay-verType="tips" lay-verify="required|DialogproductCode" lay-reqText="请选择产品编码" name="productModelId" lay-search="" lay-filter="DialogproductCode">
                  <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">产品型号</label>
            <div class="layui-input-block">
                <input type="text" name="coding" id="coding" oninput="if(value.length>20)value=value.slice(0,20)" lay-reqText="请输入产品型号" placeholder="只允许输入数字、字母、" class="layui-input" lay-verType="tips" lay-verify="required|coding" required>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">产品名称</label>
            <div class="layui-input-block">
                <input type="text" name="DialogproductName" oninput="if(value.length>20)value=value.slice(0,20)" id="DialogproductName" lay-reqText="请输入产品名称" placeholder="只允许输入中文、数字、字母、下划线" class="layui-input" lay-verType="tips" lay-verify="required|productName" required>
            </div>
        </div>
        <div class="text-right">
            <button class="layui-btn" lay-filter="productSubmit" lay-submit>保存</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog" style="margin-right: 10px;">取消</button>
        </div>
    </form>
    <script>
        //重新设置页面大小
        // resize();
        function child(d) {
            layui.use(['excel', 'laypage', 'layer', 'table', 'element', 'admin', 'form'], function() {
                var table = layui.table,
                    laypage = layui.laypage,
                    element = layui.element,
                    excel = layui.ecxel;
                var admin = layui.admin;
                var layer = layui.layer;
                var form = layui.form;
                $ = layui.jquery;
                $form = $('form');
                //获取用户信息
                var storage = window.localStorage;
                var json = storage.getItem('userData');
                var userData = JSON.parse(json);
                var userId = userData.userId;
                let operatorId = userId;
                // 正则验证
                form.verify({
                        productCode: function(value, item) { //value：表单的值、item：表单的DOM对象
                            if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
                                return '产品编码不能有特殊字符';
                            }
                            if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                                return '产品编码首尾不能出现下划线\'_\'';
                            }
                            if (/^\d+\d+\d$/.test(value)) {
                                return '产品编码不能全为数字';
                            }
                            if (!/^.{1,20}$/.test(value)) {
                                return '产品编码最多输入20位';
                            }
                            if (!/^[^\s]*$/.test(value)) {
                                return '产品编码不能输入空格哦!';
                            }
                        },
                        productName: function(value, item) { //value：表单的值、item：表单的DOM对象
                            if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
                                return '产品名称不能有特殊字符';
                            }
                            if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                                return '首尾不能出现下划线\'_\'';
                            }
                            if (!/^[^\s]*$/.test(value)) {
                                return '产品名称不能输入空格哦!';
                            }
                            if (!/^.{1,20}$/.test(value)) {
                                return '产品名称最多20位哦!';
                            }
                        }
                    })
                    //产品线初始化
                $.ajax({
                    url: getAllEquipmentAndProductModelUrl(),
                    type: "get",
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function(result) {
                        if (result.code == 0) {
                            var arr = result.data;
                            if (arr.length > 0) {
                                for (var i = 0; i < arr.length; i++) {
                                    var item = arr[i];
                                    $("#productLine").append("<option value=" + item.id + ">" + item.name + "</option>");
                                }
                                // 产品线回显
                                $("#productLine").each(function() {
                                    // this代表的是<option></option>，对option再进行遍历
                                    $(this).children("option").each(function() {
                                        // 判断需要对那个选项进行回显
                                        if (this.text == d.productLineName) {
                                            // 进行回显
                                            $(this).attr("selected", "selected");
                                        }
                                    });
                                    form.render();
                                })
                                if (d.productLineName == null) {
                                    console.log('====d.equipmentName', d.productLineName);
                                } else {
                                    // 设备类型回显
                                    for (var i = 0; i < arr.length; i++) {
                                        var item = arr[i];
                                        if (item.name == d.productLineName) {
                                            productEquipments = arr[i].equipmentModels;
                                        }
                                        if (productEquipments.length > 0) {
                                            $("#equipments").empty(); //清空下拉框
                                            $("#equipments").append("<option value=''>请选择</option>");
                                            for (var i = 0; i < productEquipments.length; i++) {
                                                var item = productEquipments[i];
                                                $("#equipments").append("<option value=" + item.equipmentId + ">" + item.equipmentName + "</option>");
                                            }
                                            $("#equipments").each(function() {
                                                // this代表的是<option></option>，对option再进行遍历
                                                $(this).children("option").each(function() {
                                                    // 判断需要对那个选项进行回显
                                                    if (this.text == d.equipmentName) {
                                                        // 进行回显
                                                        $(this).attr("selected", "selected");
                                                    }
                                                });
                                                form.render();
                                            })
                                        }
                                    }
                                    // 产品系列回显
                                    var productModels;
                                    for (var i = 0; i < productEquipments.length; i++) {
                                        if (productEquipments[i].equipmentId == d.equipmentId) {
                                            productModels = productEquipments[i].productSeriesModels;
                                        }
                                    }
                                    if (productModels.length > 0) {
                                        $("#productModels").empty(); //清空下拉框
                                        $("#productModels").append("<option value=''>请选择</option>");
                                        for (var i = 0; i < productModels.length; i++) {
                                            var item = productModels[i];
                                            $("#productModels").append("<option value=" + item.productSeriesId + ">" + item.productSeriesName + "</option>");
                                        }
                                        $("#productModels").each(function() {
                                            // this代表的是<option></option>，对option再进行遍历
                                            $(this).children("option").each(function() {
                                                // 判断需要对那个选项进行回显
                                                if (this.text == d.productSeriesName) {
                                                    // 进行回显
                                                    $(this).attr("selected", "selected");
                                                }
                                            });
                                            form.render();
                                        })
                                    }
                                    // 产品型号回显
                                    var productCode;
                                    for (var i = 0; i < productModels.length; i++) {
                                        if (productModels[i].productSeriesId == d.productSeriesId) {
                                            productCode = productModels[i].productModelModelList;
                                        }
                                    }
                                    if (productCode.length > 0) {
                                        $("#DialogproductCode").empty();
                                        $("#DialogproductCode").append("<option value='' selected='selected'>请选择</option>");
                                        for (var i = 0; i < productCode.length; i++) {
                                            var item = productCode[i];
                                            $("#DialogproductCode").append("<option value=" + item.productModelId + ">" + item.productModelName +
                                                "</option>");
                                        }
                                        $("#DialogproductCode").each(function() {
                                            // this代表的是<option></option>，对option再进行遍历
                                            $(this).children("option").each(function() {
                                                // 判断需要对那个选项进行回显
                                                if (this.text == d.productModelName) {
                                                    // 进行回显
                                                    $(this).attr("selected", "selected");
                                                }
                                            });
                                            form.render();
                                        })
                                    }
                                }

                            }
                        } else {
                            $("#productLine").empty(); //清空下拉框
                            $("#productLine").append("<option value=''>请创建设备</option>");
                        }
                        form.render(); //注意渲染页面表单，否则不显示数据
                        // 设备初始化   
                        form.on('select(productLine)', function(data) {
                            $("#equipments").empty();
                            $("#productModels").empty(); //清空下拉框
                            $("#DialogproductCode").empty(); //清空下拉框
                            if (!isEmpty(data.value)) {
                                var productEquipments;
                                for (var i = 0; i < arr.length; i++) {
                                    if (arr[i].id == data.value) {
                                        productEquipments = arr[i].equipmentModels;
                                    }
                                }
                                if (productEquipments.length > 0) {
                                    //  $("#equipments").empty(); //清空下拉框
                                    $("#equipments").append("<option value=''>请选择</option>");
                                    for (var i = 0; i < productEquipments.length; i++) {
                                        var item = productEquipments[i];
                                        $("#equipments").append("<option value=" + item.equipmentId + ">" + item.equipmentName + "</option>");
                                    }
                                } else {
                                    $("#equipments").append("<option value=''>请先创建设备</option>");
                                }
                            } else {
                                $("#equipments").empty();
                                $("#equipments").append("<option value=''>请先创建设备</option>");
                            }
                            form.render(); //注意渲染页面表单，否则不显示数据
                        });
                        // 产品系列初始化   
                        form.on('select(equipments)', function(data) {
                            $("#productModels").empty(); //清空下拉框
                            $("#DialogproductCode").empty(); //清空下拉框
                            if (!isEmpty(data.value)) {
                                var obj = {};
                                var productSeriesModels;
                                for (var key in arr) {
                                    obj[key] = arr[key];
                                    var productModels = obj[key].equipmentModels;
                                    var obj1 = {};
                                    for (var key in productModels) {
                                        obj1[key] = productModels[key];
                                        if (obj1[key].equipmentId == data.value) {
                                            productSeriesModels = obj1[key].productSeriesModels;
                                            if (productSeriesModels.length > 0) {
                                                $("#productModels").empty(); //清空下拉框
                                                $("#productModels").append("<option value=''>请选择</option>");
                                                for (var i = 0; i < productSeriesModels.length; i++) {
                                                    var item = productSeriesModels[i];
                                                    $("#productModels").append("<option value=" + item.productSeriesId + ">" + item.productSeriesName + "</option>");
                                                }
                                            } else {
                                                $("#productModels").append("<option value=''>请先创建产品系列</option>");
                                            }
                                        }
                                    }
                                }
                            } else {
                                $("#productModels").empty();
                                $("#productModels").append("<option value=''>请先创建产品系列</option>");
                            }
                            form.render(); //注意渲染页面表单，否则不显示数据				
                            // 产品型号初始化   
                            form.on('select(productModels)', function(data) {
                                $("#DialogproductCode").empty(); //清空下拉框
                                if (!isEmpty(data.value)) {
                                    var productCode;
                                    var obj = {};
                                    for (var key in arr) {
                                        obj[key] = arr[key];
                                        var productModels = obj[key].equipmentModels;
                                        var obj1 = {};
                                        for (var key in productModels) {
                                            obj1[key] = productModels[key];
                                            var array = obj1[key].productSeriesModels;
                                            var obj2 = {};
                                            for (var key in array) {
                                                obj2[key] = array[key];
                                                if (obj2[key].productSeriesId == data.value) {
                                                    productCode = obj2[key].productModelModelList;
                                                    if (productCode.length > 0) {
                                                        $("#DialogproductCode").empty();
                                                        $("#DialogproductCode").append("<option value='' selected='selected'>请选择</option>");
                                                        for (var i = 0; i < productCode.length; i++) {
                                                            var item = productCode[i];
                                                            $("#DialogproductCode").append("<option value=" + item.productModelId + ">" + item.productModelName +
                                                                "</option>");
                                                        }
                                                    } else {
                                                        $("#DialogproductCode").append("<option value=''>请先创建产品编号</option>");
                                                    }
                                                }
                                            }

                                        }
                                    }
                                } else {
                                    $("#DialogproductCode").empty();
                                    $("#DialogproductCode").append("<option value=''>请新建产品编号</option>");
                                }
                                form.render(); //注意渲染页面表单，否则不显示数据
                            });
                        });

                    },
                    error: function() {
                        alert("服务器忙……请稍后重试！");
                    }
                });
                // 表单提交
                form.on('submit(productSubmit)', function(data) {
                    //获取用户信息
                    var storage = window.localStorage;
                    var json = storage.getItem('userData');
                    var userData = JSON.parse(json);
                    let operatorId = userData.userId;
                    $.ajax({
                        url: updateProductUrl(),
                        type: "post", // 采用post方法
                        dataType: "json", // 请求和返回的参数格式；如果是非json格式需要使用text格式
                        contentType: 'application/json; charset=utf-8',
                        async: false,
                        // form表单中的参数sampleTypes
                        data: JSON.stringify({
                            "equipmentId": data.field.equipmentId,
                            "productModelId": data.field.productModelId,
                            "productLineId": data.field.productLineId,
                            "productSeriesId": data.field.productSeriesId,
                            "productId": d.productId,
                            "productName": HTMLEncode(data.field.DialogproductName),
                            "productCode": HTMLEncode(data.field.coding),
                            "operatorId": operatorId,
                        }),
                        // 当接口调用成功时，执行success中的方法，result参数指的是接口返回的信息
                        success: function(result) {
                            if (result.code == 0) {
                                layer.msg(result.msg, {
                                    icon: 1,
                                    time: 1000
                                }, function() { //延时跳转并提示
                                    //先取到该子页面在父级页面中的name 值
                                    var index = parent.layer.getFrameIndex(Window.name);
                                    //然后用该方法关闭
                                    parent.layer.closeAll();
                                });
                            } else {
                                layer.msg(result.msg, {
                                    icon: 2
                                });
                            }
                        },
                    });
                    return false;
                });
            });
        }
    </script>
</body>

</html>