<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>修改产品系列版本代号</title>

    <link rel="stylesheet" href="../../assets/libs/layui/css/layui.css" />
    <link rel="stylesheet" href="../../assets/module/admin.css?v=318" />
    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../../assets/libs/layui/layui.js"></script>
    <script type="text/javascript" src="../../assets/js/common.js?v=318"></script>
    <script type="text/javascript" src="../../assets/js/util.js?v=318"></script>
    <script type="text/javascript" src="../../assets/js/url.js?v=318"></script>
    <script type="text/javascript" src="../../assets/js/htmlUtil.js?v=318"></script>

    <style>
        .layui-form-item {
            margin-right: 20px;
        }
        
        .layui-textarea {
            resize: none;
        }
    </style>
</head>

<body>
    <form id="productLineEditForm" lay-filter="productLineEditForm" class="layui-form model-form" style="padding: 0;">
        <div class="layui-form-item" style="margin-top: 10px;">
            <label class="layui-form-label layui-form-required" style="width: 100px;">产品系列名称</label>
            <div class="layui-input-block" style="width: 200px; margin-left: 160px;">
                <select id="productCodeId" lay-verType="tips" lay-verify="required|productCodeId" lay-reqText="请选择产品系列名称" name="productCodeId" lay-search="" lay-filter="productCodeId">
                  <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required" style="width: 130px;">产品系列版本代号</label>
            <div class="layui-input-block">
                <input type="text" style="width: 200px;" autocomplete="off" id="productVersionCode" name="productVersionCode" placeholder="只允许输入数字" oninput="if(value.length>4)value=value.slice(0,4)" class="layui-input" lay-verType="tips" lay-reqText="请输入产品系列版本代号" lay-verify="required|productVersionCode"
                    required>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required" style="width: 130px;">产品系列版本名称</label>
            <div class="layui-input-block">
                <input type="text" style="width: 200px;" autocomplete="off" id="productVersionName" name="productVersionName" placeholder="请输入产品系列版本名称" oninput="if(value.length>20)value=value.slice(0,20)" class="layui-input" lay-verType="tips" lay-reqText="请输入产品系列版本名称"
                    lay-verify="required|productVersionName" required>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required" style="width: 50px;">备注:</label>
            <div class="layui-input-block" style="margin-left: 160px;">
                <textarea id="description" name="description" lay-reqText="请输入备注" oninput="if(value.length>51)value=value.slice(0,51)" lay-verType="tips" lay-verify="required|remark" lay-filter="remark" placeholder="请输入备注" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="text-right">
            <button class="layui-btn" lay-filter="productSubmit" lay-submit>保存</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog" style="margin-right: 10px;">取消</button>
        </div>
    </form>
    <script>
        //重新设置页面大小
        // resize();
        function child(d) {
            layui.use(['excel', 'laypage', 'layer', 'table', 'element', 'admin', 'form'], function() {
                var table = layui.table,
                    laypage = layui.laypage,
                    element = layui.element,
                    excel = layui.ecxel;
                var admin = layui.admin;
                var layer = layui.layer;
                var form = layui.form;
                $ = layui.jquery;
                $form = $('form');
                //获取用户信息
                var storage = window.localStorage;
                var json = storage.getItem('userData');
                var userData = JSON.parse(json);
                var userId = userData.userId;
                let operatorId = userId;
                // 正则验证
                form.verify({
                        productVersionCode: function(value, item) { //value：表单的值、item：表单的DOM对象
                            if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
                                return '不能有特殊字符';
                            }
                            if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                                return '首尾不能出现下划线\'_\'';
                            }
                            if (!/^\d{2}$/.test(value)) {
                                return '产品系列版本代号为0-99的整数';
                            }
                            if (!/^[^\s]*$/.test(value)) {
                                return '不能输入空格哦!';
                            }
                        },
                        description: function(value, item) { //value：表单的值、item：表单的DOM对象
                            if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
                                return '不能有特殊字符';
                            }
                            if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                                return '首尾不能出现下划线\'_\'';
                            }
                            if (!/^[^\s]*$/.test(value)) {
                                return '不能输入空格哦!';
                            }
                            if (!/^.{1,20}$/.test(value)) {
                                return '备注描述最多20位哦!';
                            }
                        }
                    })
                    //产品系列代号初始化
                $.ajax({
                    url: getAllMechanicsProductCodesUrl(),
                    type: "post",
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        isPage: false
                    }),
                    success: function(result) {
                        if (result.code == 0) {
                            var arr = result.data;

                            if (arr.length > 0) {
                                for (var i = 0; i < arr.length; i++) {
                                    var item = arr[i];
                                    $("#productCodeId").append("<option value=" + item.id + ">" + item.productName + "</option>");
                                }
                                $("#productCodeId").each(function() {
                                    // this代表的是<option></option>，对option再进行遍历
                                    $(this).children("option").each(function() {
                                        // 判断需要对那个选项进行回显
                                        if (this.value == d.productCodeId) {
                                            // 进行回显
                                            $(this).attr("selected", "selected");
                                        }
                                    });
                                    form.render();
                                })
                            }
                        } else {
                            $("#productCodeId").empty(); //清空下拉框
                            $("#productCodeId").append("<option value=''>请先创建产品系列代号</option>");
                        }
                        form.render(); //注意渲染页面表单，否则不显示数据

                    },
                    error: function() {
                        alert("服务器忙……请稍后重试！");
                    }
                });
                // 表单提交
                form.on('submit(productSubmit)', function(data) {
                    let operatorId = userId;
                    $.ajax({
                        url: updateMechanicsProductCodeVersionUrl(),
                        type: "post",
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        async: false,
                        data: JSON.stringify({
                            "productCodeId": data.field.productCodeId,
                            'productVersionCode': data.field.productVersionCode,
                            'description': data.field.description,
                            'operatorId': operatorId,
                            'productVersionName': data.field.productVersionName,
                            'id': d.id
                        }),
                        success: function(result) {
                            if (result.code == 0) {
                                layer.msg(result.msg, {
                                    icon: 1,
                                    time: 1000
                                }, function() { //延时跳转并提示
                                    //先取到该子页面在父级页面中的name 值
                                    var index = parent.layer.getFrameIndex(Window.name);
                                    //然后用该方法关闭
                                    parent.layer.closeAll();
                                });
                            } else {
                                layer.msg(result.msg, {
                                    icon: 2
                                });
                            }
                        },
                    });
                    return false;
                });
            });
        }
    </script>
</body>

</html>